@charset "utf-8";

:root {
    --font:'Noto Sans KR',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    --font-point:'Play',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    --italic: italic;
    --h1-size: 7rem;
    --h2-size: 3rem;
    --margin-basic: 10%;
    --margin-btn: 5vw;

    --header-menu :1.2rem;
    --point-color: #f5821f;
    --font-gray:#494949;
    --font-gray2:#888888;
}