@charset "utf-8";

/* font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&family=Noto+Sans+KR:wght@100;400;700&display=swap");

body {
  font-family: "Noto Sans KR", Arial, Helvetica, sans-serif;
  position: relative;
}

/* header */
header {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  position: fixed;
  top: 0;
  z-index: 1;
  border-bottom: #ddd solid 1px;
}

header img {
  margin-left: 2vw;
  width: 100px;
}

header svg {
  fill: #5a5a5a;
  width: 30px;
  margin-right: 5vw;
}

header .header-menu {
  color: #5a5a5a;
  margin-right: 2vw;
  display: flex;
  gap: 2vw;
  width: 50vw;
  text-transform: uppercase;
  font-size: 17.6px;
  font-weight: bold;
}

/* sticky */
.sticky {
  display: flex;
  justify-content: space-between;
  margin-left: 2vw;
}

.sticky img {
  position: fixed;
  bottom: 2vw;
}
.sticky .up {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  width: 40px;
  height: 40px;
  padding: 5px;
  display: flex;
  place-items: center;
  position: fixed;
  bottom: 2vw;
  right: 2vw;
}
.sticky .up svg {
  width: 30px;
  fill: #fff;
}

/* banner */
.banner {
  background-color: #eeeeee;
  display: flex;
  height: 100vh;
  position: relative;
  top: 4vw;
}

.banner img {
  width: 40vw;
  min-width: 400px;
  margin-left: 15vw;
  object-fit: contain;
}

.banner .banner-txt {
  margin-top: 5vw;
  margin-left: 10vw;
  display: flex;
  flex-direction: column;
}

.banner h1 {
  padding-top: 10vw;
  min-width: 500px;
  font-size: 17px;
  color: #5a5a5a;
  text-transform: uppercase;
  font-weight: 300;
}

.banner h2 {
  margin: 0;
  text-transform: capitalize;
  font-weight: 100;
  position: relative;
  font-size: 4.5rem;
  margin-top: 2vw;
}

.banner .play {
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  place-items: center;
}

.banner .play svg {
  width: 60px;
  fill: #fff;
}

.banner .pattern {
  position: absolute;
  left: -15vw;
  bottom: 0;
}
.banner .pattern img {
  width: 100%;
  object-fit: contain;
}

/* main */
.main-txt {
  display: grid;
  margin: 10vw;
  grid-template-columns: 40vw 40vw;
  place-items: center;
  gap: 5vw;
}

.main-txt h3 {
  font-size: 1.75rem;
  font-weight: bold;
}

.main-txt h4 {
  margin-top: 2vw;
  width: 75%;
  font-weight: 400;
}

/* main-img */
.main-img {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 40vh 40vh 40vh;
  grid-template-areas:
    "i1 i1 i2 i3"
    "i1 i1 i4 i4"
    "i5 i6 i7 i7";
}
.img1 {
  background: url(./m-img/1.jpg) no-repeat 50% / cover;
  grid-area: i1;
}

.img2 {
  background: url(./m-img/2.jpg) no-repeat 50% / cover;
  grid-area: i2;
}
.img3 {
  background: url(./m-img/7.jpg) no-repeat 50% / cover;
  grid-area: i3;
}
.img4 {
  background: url(./m-img/4.jpg) no-repeat 50% / cover;
  grid-area: i4;
}
.img5 {
  background: url(./m-img/5.jpg) no-repeat 50% / cover;
  grid-area: i5;
}
.img6 {
  background: url(./m-img/6.jpg) no-repeat 50% / cover;
  grid-area: i6;
}
.img7 {
  background: url(./m-img/3.jpg) no-repeat 50% / cover;
  grid-area: i7;
}

.main-image {
  position: relative;
}
.m-img img {
  width: 100%;
}
.m-img h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 3vw;
}
.m-img p {
  margin-top: 1vw;
}
.main-image p {
  display: none;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  position: absolute;
  line-height: 40vh;
  right: 0;
  left: 0;
  margin: auto;
}

.main-image:first-child p {
  position: relative;
  top: 10vw;
}
.main-image:hover p {
  display: block;
}

/* our-business */
.business h1 {
  font-weight: bold;
  font-size: 3.5rem;
  text-align: center;
  margin-top: 10vw;
  position: relative;
}

.business h1::after {
  content: "";
  background-color: #000;
  width: 60px;
  height: 2px;
  position: absolute;
  top: 5vw;
  right: 0;
  left: 0;
  margin: auto;
}

.business p {
  margin-top: 3vw;
  text-align: center;
  line-height: 1.5;
  font-size: 1.25rem;
  font-weight: 200;
}
.m-img .icon {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 30vw;
  transition: 0.4s;
}

.m-img svg {
  width: 30px;
  fill: #5a5a5a;
  background-color: rgba(255, 255, 255, 0.5);
  height: 30px;
  border-radius: 50%;
  transition: 0.5s;
}

.main-img-group {
  text-align: center;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin: 5vw auto;
}

/* youtube */
.video-txt {
  display: flex;
  justify-content: center;
  width: 100%;
}
.video-txt h1 {
  font-size: 3.5rem;
  font-weight: bold;
}

.video-txt h2 {
  width: 40vw;
  margin-left: 10vw;
  font-size: 1.5rem;
  color: #747474;
  font-weight: 200;
}

.video {
  display: grid;
  place-items: center;
  margin-top: 5vw;
}
.video iframe {
  width: 90%;
  height: 100vh;
}

/* our service */
.service h1 {
  font-size: 3.5rem;
  text-align: center;
  font-weight: bold;
  margin-top: 13vw;
  position: relative;
}

.service h1::after {
  content: "";
  background-color: #000;
  width: 60px;
  height: 2px;
  position: absolute;
  top: 5vw;
  right: 0;
  left: 0;
  margin: auto;
}

.service .service-img {
  margin-top: 5vw;
  display: flex;
  justify-content: center;
  gap: 3vw;
}

.service .service-dot {
  text-indent: -9999px;
}
.service-txt {
  margin: 1.5vw;
}
.service-txt h2 {
  font-size: 1.5rem;
  font-weight: bold;
}
.service-txt p {
  margin-top: 1vw;
  color: #5a5a5a;
}

.service-img {
  overflow: hidden;
}
.service-img img {
  width: 300px;
  filter: opacity(0.5);
}
.service-img li:nth-child(3) img {
  filter: opacity(1);
  width: 400px;
}

/* logo */
.logo {
  width: 70%;
  margin: 10vw auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  gap: 1.5vw;
}
.logo img {
  width: 150px;
  filter: opacity(0.6);
  transition: 0.4s;
}

.logo img:hover {
  filter: opacity(1);
}

/* location */
.location h1 {
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;
}

.location menu {
  width: 70%;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  gap: 10vw;
  border-bottom: #b3b3b3 solid 1px;
}
.location menu li {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  margin: 3vw 0;
  margin-bottom: 1vw;
  width: 50%;
}

.kakaomap {
  margin-top: 5vw;
  display: grid;
  place-items: center;
}
.location ul {
  width: 75%;
  margin: 4vw auto;
}
.location ul li {
  padding-bottom: 20px;
  display: flex;
  gap: 6vw;
  margin: 2vw;
  border-bottom: 1px solid #d3d3d3;
}
.location ul li:first-child p {
  text-indent: -55px;
}
.location ul li:last-child {
  border-bottom: #5a5a5a 1px solid;
}
.location ul li h2 {
  font-size: 21px;
  font-weight: bold;
}
.location ul li p {
  font-size: 21px;
}
/* let's talk */
.lets-talk {
  background: url(./m-img/img-bg2.png) no-repeat 50%;
  background-size: cover;
  height: 50vh;
  text-align: center;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  position: relative;
  color: #fff;
}

.lets-talk-txt {
  width: 100%;
  text-align: center;
}
.lets-talk h1 {
  text-align: center;
  font-size: calc(1.475rem + 2.7vw);
  font-weight: bold;
  margin: 5vw 0;
  margin-bottom: 1vw;
}

.lets-talk p {
  font-size: 1.25rem;
  line-height: 1.5;
}

.lets-talk-txt {
  position: absolute;
}
.lets-talk .contact {
  font-family: "Noto Sans KR", Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #fff;
  position: absolute;
  bottom: 6vw;
  left: 0;
  right: 0;
  margin: auto;
  border: 2px solid #fff;
  width: 300px;
  padding: 10px 30px;
  transition: 0.5s;
}

.lets-talk .contact:hover {
  background-color: #fff;
  color: #000;
}

/* 하단 */
.bottom {
  display: flex;
}
.bottom img {
  margin: 5vw;
  width: 6vw;
  object-fit: contain;
}
.bottom ul {
  display: flex;
  gap: 8vw;
  margin: 0 5vw;
  margin-left: 15vw;
}
.bottom ul li {
  margin: 8vw 0;
  color: #5a5a5a;
}
.bottom ul li h2 {
  font-size: 15px;
  margin-bottom: 2vw;
  font-weight: bold;
}

.bottom ul li .social-icon svg {
  width: 20px;
  fill: #5a5a5a;
  margin: 0 1vw;
}

/* footer */
footer {
  text-align: center;
  background-color: #eeeeee;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-size: 0.875rem;
  line-height: 2.5;
  color: #5a5a5a;
}
