@charset "utf-8";

/* sticky */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  color: #fff;
  font-family: var(--main-font-ko);
  position: relative;
}

h2 {
  font-family: var(--main-font-en);
  color: var(--point-color);
  font-size: 3.4375rem;
  text-transform: uppercase;
}

h3 {
  font-size: 1.0625rem;
  line-height: 1.5;
}

.up {
  background-color: #575757;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.up svg {
  fill: #fff;
  padding: 5px;
}

.more-btn {
  border: #fff solid 2px;
  width: 160px;
  height: 45px;
  line-height: 40px;
  font-size: 1.2rem;
  text-align: center;
  transition: 0.3s;
}

.more-btn:hover {
  border-radius: 30px;
  color: var(--point-color);
}
.arrow {
  width: 35px;
  height: 35px;
  fill: #fff;
}
