@charset "utf-8";

/* font-family: 'Noto Sans KR', sans-serif;
font-family: 'Roboto Flex', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700;900&family=Roboto+Flex:wght@700&display=swap");

/* 변수선언 */
@import url(./variable.css);

/***** common *****/
@import url(common.css);

/***** header *****/
header {
  height: 5em;
  width: 100%;
  position: fixed;
  background-color: #111111;
  z-index: 99;
}

header .header-wrapper {
  height: 5em;
  display: flex;
  justify-content: space-between;
  width: 96%;
}

header .header-wrapper img {
  margin-left: 8em;
  width: 8rem;
  object-fit: contain;
}

header .global-nav {
  display: flex;
  align-items: center;
  font-weight: 400;
  width: 50%;
  font-size: 16px;
  margin-left: 3rem;
}

header .global-nav li {
  width: 20%;
  transition: 0.3s;
}
header .global-utill {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  width: 10%;
}

header .global-utill li {
  margin-left: 3rem;
}

header .global-nav li:hover {
  color: var(--point-color);
}

/***** main banner *****/
.main-banner {
  background: url(./images/main-banner3.png) no-repeat 0 50% / cover;
  height: 69rem;
  width: 100%;
  position: relative;
  top: 5em;
  overflow: hidden;
}
.main-banner .main-txt {
  height: 69rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 9.375rem;
}
.main-banner .main-txt h1 {
  font-size: 3.125rem;
  font-weight: 700;
}
.main-banner .main-txt h3 {
  font-size: 1.2rem;
  margin-top: 2rem;
}

.main-banner .more-btn {
  margin-top: 2rem;
  text-transform: uppercase;
}
.main-arrow svg {
  width: 35px;
  height: 35px;
  fill: #fff;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  transition: 0.3s;
}

.main-arrow svg:nth-child(1) {
  position: absolute;
  left: 1rem;
  top: 0;
  bottom: 0;
  margin: auto;
}

.main-arrow svg:nth-child(2) {
  position: absolute;
  right: 1rem;
  top: 0;
  bottom: 0;
  margin: auto;
}

.main-arrow svg:hover {
  background-color: var(--point-color);
}
/* contents */

/***** promotion *****/
.promotion {
  width: 100%;
  height: 50vw;
  display: flex;
  align-items: center;
}
.promotion .promotion-img {
  margin-left: 6rem;
  margin-top: 15rem;
  position: relative;
}

.promotion .promotion-img img {
  width: 40vw;
  min-width: 30vw;
}
.promotion .promotion-txt {
  display: flex;
  flex-direction: column;
  margin-left: 10rem;
  min-width: 50vw;
}
.promotion .promotion-txt h3 {
  width: 70%;
}
.promotion .promotion-btn {
  margin-top: 2rem;
}

.promotion .promotion-btn .more-btn {
  padding: 10px 50px;
  margin-right: 2vw;
}
.promotion .promotion-arrow svg {
  width: 35px;
  height: 35px;
}
.promotion .promotion-arrow svg:nth-child(1) {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 4rem;
}
.promotion .promotion-arrow svg:nth-child(2) {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 3rem;
}
/***** branding *****/
.branding {
  width: 100%;
  height: 35vw;
  background: url(./images/branbding-bg.png) no-repeat 0 50% / cover;
  display: flex;
}

.branding .branding-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15%;
  width: 60vw;
}

.branding .branding-txt h3 {
  width: 70%;
}

.branding .more-btn {
  margin-top: 2rem;
}

.branding-img {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  width: 50%;
  height: 50%;
  min-width: 40vw;
  margin-top: 1vw;
}

.branding img {
  width: 40%;
  object-fit: contain;
}
/***** membership *****/

.membership {
  display: flex;
  height: 50vw;
}

.membership img {
  width: 80%;
  min-width: 50vw;
  object-fit: contain;
  position: relative;
  left: -15vw;
  top: 10vw;
  transition: 0.8s;
}

.membership-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35vw;

  margin-right: 10vw;
}

.membership-txt h3 {
  width: 90%;
}

.membership-txt .more-btn {
  margin-top: 2rem;
}

.membership img:hover {
  transform: translateX(18vw);
}
/***** best-model *****/
.best-model {
  text-align: center;
  margin-top: 5rem;
  position: relative;
}

.best-model .best-model-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--box-color);
  border-radius: 15px;
  width: 70%;
  height: 3.75rem;
  margin: 0 auto;
  margin-top: 3rem;
}

.best-model .best-model-menu li {
  text-transform: uppercase;
  width: 33.3333%;
  font-size: 1rem;
}

.best-model .best-model-menu li:nth-child(1) {
  background-color: var(--point-color);
  height: 3.75rem;
  line-height: 60px;
  border-radius: 15px;
  color: var(--box-color);
  font-weight: 700;
}

.best-model .best-model-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 5rem;
}

.best-model .best-model-img img:last-child {
  position: absolute;
  bottom: 10rem;
}
.best-model .best-model-arrow svg {
  width: 35px;
  height: 35px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}
.best-model .best-model-arrow svg:nth-child(1) {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 20vw;
}

.best-model .best-model-arrow svg:nth-child(2) {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 20vw;
  transition: 0.3s;
}

.best-model .best-model-arrow svg:hover {
  background-color: var(--point-color);
  fill: var(--box-color);
}

.best-model .best-model-txt {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: -5vw auto;
}

.best-model .best-model-txt li {
  width: 25%;
  border-right: solid #fff 1px;
}

.best-model .best-model-txt li:last-child {
  border: none;
}
.best-model .best-model-txt h4 {
  color: var(--point-color);
  font-size: 1.125rem;
}

.best-model .best-model-txt p {
  font-weight: 700;
  font-size: 2rem;
}
/***** video *****/
iframe {
  margin-top: 10rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  aspect-ratio: 16 / 9;
}
/***** jeep korea service *****/
.service {
  margin-top: 20vh;
}
.service h2 {
  margin-left: 9.6875rem;
}

.service .service-txt {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  text-align: center;
}

.service .service-txt h5 {
  margin-top: 3rem;
  font-size: 1.25rem;
  color: var(--point-color);
  font-weight: bold;
}

.service .service-txt p {
  margin-top: 1.5rem;
}

.service .service-txt li svg {
  fill: #fff;
  width: 35px;
  height: 35px;
  background-color: rgba(17, 17, 17, 0.5);
  border-radius: 50%;
}

.service .service-txt li img {
  width: 20vw;
  height: 20vw;
  background-color: #fff;
  opacity: 0.8;
  filter: brightness(120%);
  transition: 0.3s;
}
.service .service-txt li img:hover {
  opacity: 1;
}

/***** inquiry *****/
.inquiry {
  width: 100%;
  margin-top: 20vh;
  display: flex;
  justify-content: space-between;
}

.inquiry .inquiry-txt h2,
.inquiry-txt p {
  margin-left: 9rem;
}

.inquiry-txt p {
  margin-top: 1rem;
}
.inquiry .inquiry-form {
  margin: 0 15%;
}

.inquiry .inquiry-form form section {
  margin-top: 2rem;
}
.inquiry .inquiry-form form section input {
  width: 50vw;
  height: 3.125rem;
  background-color: var(--box-color);
  border: none;
  margin-top: 1rem;
  color: #fff;
  font-size: 20px;
  padding-left: 10px;
}

.inquiry .inquiry-form form section:nth-child(4) input {
  height: 15rem;
}

.inquiry .inquiry-form form button {
  margin-top: 2rem;
  width: 50vw;
  height: 3.125rem;
  background-color: var(--point-color);
  font-weight: 700;
  border: none;
}

/*****location *****/
#map {
  margin-top: 10%;
}
/***** footer *****/
footer {
  background-color: #262626;
  display: flex;
  height: 150px;
  width: 100%;
}
.footer-txt {
  display: flex;
  align-items: center;
  margin-left: 5vw;
  width: 50vw;
}
.footer-icon {
  width: 60vw;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 3%;
  margin-right: 10vw;
}

.footer-icon li a img {
  width: 40px;
}
